.container_listas {
    display: block;
    color: #eeece8;
    width: calc(100vw - 50px);
    margin-left: 50px;
    margin-top: -45px;
    position: relative;

    .lista_item {
        display: flex;
        flex-direction: column;
        position: relative;

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}
