.banner {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;

    .gradiente_banner {
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(transparent, rgba(10, 10, 10, 0.7) 70%);
    }
}
