.header {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(rgba(10, 10, 10, 0.7) 50%, transparent);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    transition: all ease 0.3s;
    top: 0;
    z-index: 10;
    .capsula_Logo_Navigation_Flex {
        display: flex;
        gap: 33px;
        margin-left: 38px;
        height: 100%;

        a {
            img {
                height: 100%;
                width: auto;
            }
        }

        .navigation {
            list-style: none;
            display: flex;
            color: white;
            gap: 18px;
            //border: 2px solid palegreen;
            align-items: center;

            li {
                font-size: 15px;

                .activeBold {
                    font-weight: 700;
                }

                a {
                    text-decoration: none;
                }
                a:link,
                a:visited,
                a:hover,
                a:active {
                    color: inherit;
                }
            }
        }
    }

    .busca_e_icons {
        opacity: 0.9;
        display: flex;
        gap: 30px;
        font-size: 20px;
        margin-right: 70px;
        //border: 2px solid orange;
        align-items: center;
        color: white;

        .user {
            display: flex;
            gap: 10px;
            justify-content: center;
            //border: 2px solid blue;
            align-items: center;
        }
    }
}
.activescrolly {
    background-color: #151515;
}
